/***************************/
/*Variables de colores css*/
/*************************/
:root{
     --main_color:  #ff1717;
     --01_color:    #b7b7b7;
     --02_color:    #101010;
     --03_color:    #ffffff;
     
}

*{
     margin: 0;
     padding: 0;
     box-sizing boder-box;
}

body{
     font-family:Lucida Console, monospace, sans-serif, Arial;
     position: relative;
     min-height: 100vh;
     padding-bottom: 210px;
}

a{
     text-decoration: none;

}
.cont{
     margin: auto;
     width: 90%;
     max-width: 1200px;
}

h1{
     background-color:var(--main_color);
     color: black;
     text-align: center;
     font-size: 18;
}

.icon{
     color:var(--01_color);
     padding: 5px 5px 5px 5px;
}

.menu{
     background: white;
     margin-bottom: 10px;

}


#top_header{
     display: flex;
     background-color: var(--main_color);
}

#nav_top_01{
     width: 25%;
     display: flex;
     padding-left: 2%;
}

#nav_top_02{
     width:25%;
     display: flex;
     flex-direction: row-reverse;
     padding-left:50%;
     padding-right:2%;
}

#top_nav{
     background: white;
}

/*Parte inferior del nav*/

.menu .cont_botones_nav{                /*Botones ocultos solo para moviles*/
     display: none;
     justify-content: space-between;
}

.menu .cont_botones_nav button {
     font-size:24px;
     color: var(--main_color);
     padding: 10px 20px;
     border: 1px solid transparent;
     display: inline-block;
     cursor: pointer;
					 <a href="#">Sobre dddd/a>
     background: none;
}

.menu .cont_botones_nav button:hover {
     border: 1px solid var(--maincolor);
}

.menu .cont_botones_nav .btn_menu_close {
     display:none;
}

.menu .cont_botones_nav .btn_menu_close.active{
     display: inline-block;
}

/*Navegación y enlaces*/

.menu .cont_main_nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 10px;
}

#logo{
     width: 175px;
}

.menu .productos{
     padding: 5px;
     border-radius: 3px;
     display: flex;
     align-items: flex-end;
     border: 1px solid transparent;
     font-size: 12px;
     cursor: default;
}

.menu .productos i{
     margin-left: 20px;
     position: relative;
     bottom: 3px;
}

.menu .productos:hover{
    border: 1px solid var(--main_color)
}

.menu .productos span{
     color: var(--main_color);
     display: block;
     font-size: 14px;
     font-weight: bold;
     
}

.menu .cont_main_nav .links a{
     color: black;
     border: 1px solid transparent;
     padding: 6px;
     font-size 14px;
}

.menu .cont_main_nav .links a:hover{
     color: var(--main_color);
     border: 1px solid var(--main_color);
}

.menu .busqueda input{
     padding-bottom: 3px;
}
/*Grid*/

.cont_grid{
     position: relative;
}

.grid{
     width: 100%;
     display: none;
     position: absolute;
     top: 0px;
     z-index:999;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr;
     grid-template-areas:"categori subcategori subcategori subcategori" ;
}

.grid.active {
     display:grid;
}

.grid::before{      /*Triangulito (pseudo elemento css)*/
     content: " ";
     display:block;
     background:transparent;
     border-left:5px solid transparent;
     border-right:5px solid transparent;
     border-bottom:5px solid var(--main_color);
     position: absolute;
     top: -5px;
     left: 29%;
}

.grid > div{        /*Dar estilo a los div que se encuentran dentro de grid, solo asigna estilos a los que stan dentro, si dentro de uno de los div a los que se le asigna un estilo, hay otro div, no se le aplicará ningún estilo*/
     background: var(--main_color);
     box-shadow: 0px 3px 6px rgba(0,0,0,.30);
}

.grid .btn_back{    /*Dar etilo al boton de back el cual solo se mostrara en móviles*/
     background:white;
     color: var(--main_color);
     border: none;
     padding: 7px;
     border-radius: 3px;
     margin: 7px;
     font-size: 16px;
     cursor: pointer;
     display: none;
}
.grid .btn_back i{  /*Dar espacio al icono de box icon*/
     margin-left: 10px;
}

/*Categoría*/
.grid .categori{
     grid-area: categori;
     padding-top: 10px;
     min-height: 300px;
     overflow: auto;
}

.grid .categori .subtitle {/*Subtitulo que se muestra en moviles solo*/   
     display:none;
}

.grid .categori a{
     color: var(--03_color);
     font-size: 16px;
     display: flex;
     justify-content: space-between;
     padding: 10px 20px;
}

.grid .categori a i{
     display: none;
}

.grid .categori a:hover{
     color: pink;
     font-weight: bold;

}

.grid .categori a:hover i{
     display: inline-block;
}


/*Subcategorías*/

.grid .cont_subcategori{
     grid-area: subcategori;
}

.grid .subcategori{
     display: none;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     width:100%;
}

.grid .subcategori.active{
     display:grid;
}

.grid .subcategori img{
     width:100%;
     vertical-align:top;
     height:100%;
     object-fit:cover;

}

.grid .enlaces_subcategori{ /*Estilo del grid de lo enlaces*/
     padding-top: 10px;
     height: 100%;
     max-height:300px;
     overflow: auto;
}

.grid .enlaces_subcategori a{ /*Estilo de enlaces*/
     color: black;
     display: block;
     font-size: 14px;
     padding: 10px 20px;
}

.grid .enlaces_subcategori a:hover{
     color: white;
}

.grid .subtitle{
     font-size: 18px;
     font-weight: normal;
     color: var(--03_color);
     padding: 10px 20px;
}

.grid .baner.subcategori a{
     display: block;
     height: 100%;
}

.grid .img_subcategori {
     display: flex;
     flex-wrap: wrap;
     align-content: start;
}

.grid .img_subcategori a{ /*Imagenes chiquitas*/
     height: 50%;
     width: 50%;
}

/****************/
/**** Boddy ****/
/**************/


main{
     bottom:200px;
     background: var(--01_color);
}

.cont_catalogo .promociones{
     padding-bottom: 10px;
}

.cont_catalogo .productos_01{
     padding-top: 5px;
     padding-left: 5px;
     padding-right: 5px;
}

/*** carrusel ***/

/*.cont_main .carrusel{ */
/*     margin: auto;    */
/*     overflow: hidden;*/
/*     display: flex;   */
/*     padding: 0px;    */
/*     justify-content: space-between;  */
/*    width: 500%;      */
/*} /*/

/*.cont_main .carrusel .img_carrusel{   */
/*     padding-right:10px;              */
/*}                                     */

.cont_main .carrusel .img_carrusel img{   
     width: 100%;                         
    /*height: auto;*/                  
     height: 100%;                        
     object-fit: cover;                   
}

/*****************/
/**** Footer ****/
/***************/
footer{
     position:absolute;
     width:100%;
     bottom:0px;
}

.footer{
     background: var(--01_color);
     margin-top:10px;
     border-top: 2px solid var(--main_color);
}
.footer .cont_footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


.footer .cont_footer .cont_footer_sub_menu .footer_list >li{
     list-style:none;
     display: flex;
     padding: 10px 0;
     align-items: center;
}

.footer .cont_footer .cont_footer_sub_menu .footer_list a{
     color:var(--02_color);
}

.footer .cont_footer .cont_footer_logo{
     display:flex;
     justify-content: space-between;
     flex-direction: column;
}

.footer .cont_footer .cont_footer_logo img{
     width: 175px;
}

.footer .cont_footer .cont_footer_logo .footer_icon{
     display: flex;
     align-items: center;
     justify-content:space-between;
}

.footer .cont_footer .cont_footer_logo .footer_icon .icon{
     width: 30px;
}


.footer .cont_footer .cont_footer_maps iframe{
     width: 475px;
     margin-top: 10px;
}

.footer .cont_footer_copyright{
     background: var(--main_color);
}

.footer .cont_footer_copyright small{
     padding-left: 35%
}
/***********************/
/**** Mediaqueries ****/
/*********************/
@media screen and (max-width: 1000px){
     .menu .cont_main_nav{
         padding: 0px 10px;
    }

     .menu .cont{
         width: 100%;
    }

    .menu .cont_busqueda{
         padding: 0px 10px;
}

@media screen and (max-width: 800px){
     .menu .cont{
         width: 90%;
     }
     .menu .cont_botones_nav{
         display: flex;
     }
    
     .menu .cont_main_nav{
         padding: 20px;
         flex-direction: column ;
         align-items: flex-start;
         justify-content: flex-start;
         position: fixed;
         left: 0;
         height: 100vh;
         width: 80%;
         background: var(--01_color);

     }

}
